table {
    background: $mediumGrey;
    padding: 20px;
    border-radius: 10px;
    td {
        padding: 10px 10px 10px 0;
    }
    tr:last-of-type td {
        padding-bottom: 0;
    }
    tr:first-of-type td {
        padding-top: 0;
    }
    td:first-of-type {
        font-weight: 400;
        padding-right: 40px;
    }
    &:not(.container_calendar) tr:first-of-type td:last-of-type {
        font-weight: 500;
        color: $red;
    }
}
