.container_calendar{
    width: 100%;
    padding: 0;
    border-collapse: collapse;
    overflow: hidden;
    background: #fff;
    thead {
        background: #fff;
        th {
            padding: 10px;
        }
        tr:first-of-type th {
            padding-top: 20px;
        }
        tr:last-of-type th {
            font-size: 14px;
            font-weight: 500;
            background: $purple;
            color: #fff;
        }
    }
    td {
        padding: 10px;
        border: solid 1px $lightGrey;
        width: calc(100% / 7);
        &:not(.otherDay) p {
            display: none;
        }
    }
    tr:first-of-type td {
        padding-top: 10px;
        border-top: 0;
    }
    tr:last-of-type td {
        padding-bottom: 10px;
        border-bottom: 0;
    }
    td:first-of-type {
        padding-left: 20px;
        border-left: 0;
    }
    td:nth-of-type(7) {
        padding-right: 20px;
        border-right: 0;
    }
    tbody {
        vertical-align: baseline;
        td > p {
            width: 22px;
            height: 22px;
            border-radius: 10px;
            text-align: center;
            background-color: #FEB801;
            color: #fff;
            font-weight: 500;
            font-size: 13px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto 10px;
        }
    }
    .headcal {
        font-size: 20px;
        font-weight: 100;
        padding: 0 20px;
    }

    input {
        opacity: 0;
        position: absolute;
        pointer-events: none;
    }
    label {
        position: relative;
        display: block;
        margin-bottom: 10px;
        z-index: 1;
        cursor: pointer;
        font-size: 12px;
        padding: 5px;
        border-radius: 5px;
        overflow: hidden;
        transition: color ease .1s, transform ease-in-out .3s;
        span:first-of-type {
            font-weight: 500;
            font-size: 14px;
            margin-bottom: 4px;
            display: block;
        }
    }
    label i {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        background: #f2f0fb;
        z-index: -1;
        transition: background-color ease .1s;
    }
    label:nth-of-type(odd) i {
        background-color: #e6e2ff;
    }
    label:hover i{
        background-color: $yellow;
    }
    label:hover{
        color: #fff;
        transform: scale(.95);
    }
    input[name='classroom_id']:checked + i {
        background: $yellow;
    }
    .already {
        font-size: 14px;
        text-align: center;
        width: 100%;
        display: block;
    }
    a.already {
        font-weight: 500;
        cursor: pointer;
        transition: color ease .1s;
        &:hover {
            color: $purple;
        }
    }
}


.table-sessions {
    background-color: #fff;
}
