.page-home .container_formations h2 {
    padding-top: 80px;
}
.container_formations {
    & > ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
            padding: 20px;
            margin-bottom: 20px;
            background: #fff;
            border-radius: 10px;
            width: calc(50% - 40px - 10px);
        }
        a {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        a, article {
            height: 100%;
        }
        p {
            margin-bottom: auto;
        }
    }
    nav {
        font-size: 20px;
        font-weight: 700;
        padding-top: 20px;
        .active {
            color: $red;
        }
    }
    nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            padding: 10px;
        }
    }
    .btn {
        margin-top: 10px;

    }
}

.container_create-formation {
    position: relative;
    label {
        font-size: 20px;
        font-family: "Crete Round", serif;
        margin: 40px 0 10px;
    }
    .form-group {
        margin-bottom: 20px;
        textarea {
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            min-height: 35px;
        }
        &:nth-of-type(3) textarea {
            min-height: 150px;
        }
        &:last-of-type {
            input {
                opacity: 0;
                position: absolute;
                pointer-events: none;
                &:checked + span {
                    background: $red;
                }
            }
        }
    }
    .list-category {
        display: flex;
        flex-wrap: wrap;
        label {
            font-size: 14px;
            padding: 10px 15px;
            border-radius: 5px;
            margin: 0 10px 10px 0;
            font-family: "Raleway", sans-serif;
            background-color: $mediumGrey;
            transition: color ease .1s, background-color ease .1s;
            cursor: pointer;
        }
        input:checked + label,
        label:hover {
            background-color: $yellow;
            color: #fff;
        }
    }
    img {
        position: absolute;
        top: -20px;
        right: 0;
        width: 400px;
        height: auto;
    }
}
